
.sidebar{
    background-color: #00331E;
    color: white;
    transition: all 0.5s;
    height: 100vh;
    width: 200px;
    border-right: 3px solid #0AF597;   
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:#0AF597;
    color: #000;
    transition: all 0.8s;
    border-radius: 5px 30px 5px 30px;
}
.active{
    background: #0AF597;
    color: #000;
    border-radius: 5px 30px 5px 30px;
}
.icon, .link_text{
    font-size: 20px;
}
